.p-icon-20 {
    background-size: 20px;
}

.p-icon-24 {
    background-size: 24px;
}

.p-icon-16 {
    background-size: 16px;
}

.p-icon-36 {
    background-size: 36px;
}

.p-icon-book {
    background-image: url(../../assets/icon/icons8-clock-192.png);
}

.p-img-icon-20 {
    height: 20px;
}

