.autocomplete-list {
    /* border-top: 1px solid var(--fill-color-4); */
    position: absolute;
    top: 42px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    max-height: calc(36px*7);
    overflow-y: auto;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
    z-index: 10;
}

.autocomplete-list li {
    height: 36px;
    display: flex;
    padding: 0 12px;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
}

.autocomplete-list-row-selected {
    background-color: var(--topic-color-200);
}