/AndroidApp/.git
/AndroidApp/build
/AndroidApp/.gradle
/AndroidApp/local.properties
/AndroidApp/.idea

*.log

/AndroidApp/captures/
/AndroidApp/.externalNativeBuild/
/AndroidApp/.cxx/
*.apk
/AndroidApp/output.json

*.iml

/AndroidApp/misc.xml
/AndroidApp/deploymentTargetDropDown.xml
/AndroidApp/render.experimental.xml

*.jks
*.keystore

/AndroidApp/google-services.json

*.hprof
*.bak*
/BACKEND/PickleballCourtBookingSystem/PickleballCourtBookingSystem.Api/appsettings.json
.UML.*
/BACKEND/PickleballCourtBookingSystem/PickleballCourtBookingSystem.Core/Interfaces/DBContext/MySqlDbContext.cs
