@import url(./layouts/flex-layout.css);
@import url(./components/button.css);
@import url(./components/menu.css);
@import url(./components/icon.css);
@import url(./components/input.css);
@import url(./components/input-autocomplete.css);
@import url(./components/court-item.css);
@import url(./components/header.css);
@import url(./components/form.css);
@import url(./layouts/hidden-overlay.css);

/* Biến màu toàn cục */
:root {
    --topic-color-50: rgb(230, 242, 255);
    --topic-color-100: rgb(204, 228, 255);
    --topic-color-200: rgb(153, 202, 255);
    --topic-color-300: rgb(102, 175, 255);
    --topic-color-400: rgb(51, 149, 255);
    --topic-color-500: rgb(0, 122, 255);
    --topic-color-600: rgb(0, 98, 204);
    --topic-color-700: rgb(0, 73, 153);
    --topic-color-800: rgb(0, 49, 102);
    --topic-color-900: rgb(0, 24, 51);
    --banner-background-color: rgb(37, 88, 146);
}

/* Import fonts */
@font-face {
    font-family: roboto-regular;
    src: url(../assets/font/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(../assets/font/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../assets/font/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-italic;
    src: url(../assets/font/Roboto-Italic.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url(../assets/font/Roboto-Thin.ttf);
}

/* Định nghĩa chung */
* {
    margin: 0;
    font-family: roboto-regular;
    font-size: 14px;
    transition-duration: 0.1s;
    box-sizing: border-box;
}