.p-icon-20 {
    background-size: 20px;
}

.p-icon-24 {
    background-size: 24px;
}

.p-icon-16 {
    background-size: 16px;
}

.p-icon-36 {
    background-size: 36px;
}

.p-icon-42 {
    background-size: 42px;
}

.p-icon-48 {
    background-size: 48px;
}

.p-icon-book {
    background-image: url(../../assets/icon/icons8-clock-192.png);
}

.p-icon-field {
    background-image: url(../../assets/icon/icons8-field-100.png);
}

.p-icon-field-bw {
    background-image: url(../../assets/icon/icons8-field-100-bw.png);
}

.p-icon-shcedule {
    background-image: url(../../assets/icon/icons8-schedule-100.png);
}

.p-icon-schedule-bw {
    background-image: url(../../assets/icon/icons8-schedule-100-bw.png);
}

.p-logo {
    background-image: url(../../assets/icon/p-logo.png);
}

.p-icon-search {
    background-image: url(../../assets/icon/search.png);
}

.p-icon-double-right {
    background-image: url(../../assets/icon/icons8-double-right-100.png);
}

.p-icon-right-round-arrow {
    background-image: url(../../assets/icon/right-arrow-124.png);
}

.p-icon-single-right {
    background-image: url(../../assets/icon/icons8-single-right-arrow-100.png);
}

.p-icon-single-left {
    background-image: url(../../assets/icon/icons8-single-left-arrow-100.png);
}

.p-icon-dashboard {
    background-image: url(../../assets/icon/icons8-dashboard-100.png);
}

.p-long-banner {
    background-image: url(../../assets/long-banner.png);
}

.p-search-background {
    background-image: url(../../assets/search-background.jpg);
}

.p-icon-red-clock2 {
    background-image: url(../../assets/icon/red-clock2.png);
}

.p-icon-red-clock1 {
    background-image: url(../../assets/icon/red-clock1.png);
}

.p-icon-clock {
    background-image: url(../../assets/icon/clock.png);
}

.p-icon-location {
    background-image: url(../../assets/icon/location-blue.png);
}

.p-icon-court-active {
    background-image: url(../../assets/icon/court_active.png);
}

.p-icon-court-active-hori {
    background-image: url(../../assets/icon/court_active_hori.png);
}

.p-icon-calendar {
    background-image: url(../../assets/icon/calendar.png);
}

.p-icon-dashboard1 {
    background-image: url(../../assets/icon/dasboard.png);
}

.p-img-icon-20 {
    height: 20px;
}

.p-img-icon-48 {
    height: 48px;
}