.text-white {
    color: white;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-32 {
    font-size: 32px;
}

.font-size-36 {
    font-size: 36px;
}

.roboto-bold {
    font-family: roboto-bold;
}

.roboto-medium {
    font-family: roboto-medium;
}


.roboto-thin {
    font-family: roboto-thin;
}

.roboto-italic {
    font-family: roboto-italic;
}

.roboto-regular {
    font-family: roboto-regular;
}

.text-decoration-none {
    text-decoration: none;
}

.text-align-center {
    text-align: center;
}

.vertical-align-top {
    vertical-align: top;
}