.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

* {
    margin: 0;
}

.header {
    display: flex;
    background-color: yellowgreen;
    height: 56px;
    width: 100%;
}

.nav {
    background-color: crimson;
    width: 100%;
    height: 56px;
}

.main {
    background-color: pink;
    width: 100%;
    height: calc(100vh - 112px);
}